@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 24
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 29px;
  color: black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header */
.logo {
  width: 4rem;
  height: 3rem;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: azure;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(22, 21, 21);
  transition: 0.3s ease-in;
}

#navbar li a:hover,
#navbar li a.active {
  color: cadetblue;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: cadetblue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#top {
  background-image: url("img/hero.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#top h4 {
  padding-bottom: 15px;
}

#top h1 {
  color: darkgreen;
}

#top button {
  background-image: url("img/button.webp");
  background-color: transparent;
  color: burlywood;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


#feature .fe-box {
  width: 200px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
  border: 3px solid rgb(70, 77, 73);
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box img {
  width: 100%;
  align-self: center;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 223, 0.1);
}

#feature .fe-box h5 {
  display: inline-block;
  padding: 12px 6px 6px 6px;
  line-height: 1;
  border-radius: 4px;
  color: cadetblue;
  background-color: blanchedalmond;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 3px solid rgb(70, 77, 73);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
  margin: 15px 0;
  transition: all 300ms ease-in;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .pro img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 12px 0;
}

#product1 .pro .des span {
  color: #465b52;
}

#product1 .pro .des h5 {
  padding-top: 6px;
  color: darkslategray;
  font-size: 14px;
}
.pro img:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

#product1 .pro .des .star span {
  font-size: 14px;
  color: gold;
}

#product1 .pro .des h4 {
  padding-top: 6px;
  font-size: 15px;
  font-weight: 700;
  color: darkolivegreen;
}

#product1 .pro #cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  background-color: rgb(153, 206, 153);
  color: green;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.about {
  text-align: center;
  color: green;
  margin: 25px;
  border: 2px solid grey;
  width: 98%;
  height: 100%;
}

.cont {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: space-between;
}

.cont form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cont form textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}

.cont div {
  align-content: center;
  border: 1px solid darkgreen;
  width: 30%;
  height: 600px;
  float: left;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
  margin: 20px;
}

.log {
  background-image: url("img/pxfuel.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.log .lg {
  padding: 50px 50px;
  display: flex;
  height: 50vh;
  width: 50vh;
  margin: 15% 35%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  color: yellow;
  border: 2px solid rgba(0, 0, 0, 0.04);
  background: rgba(115, 147, 179, 0.05);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

.log .lg button {
  background: none;
  border: 0;
  color: yellow;
}

.log .lg input {
  padding: 10px 20px;
}

.form {
  margin: 1.2rem;
}

.form form input {
  color: gray;
  padding: 8px;
  margin: 5px;
}

.form form select {
  color: gray;
  padding: 8px;
}

.form form .conta {
  display: inline-block;
}

footer {
  background: azure;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

footer .content {
  max-width: 2250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #000;
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #000;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: gray;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #fff;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #FF0000;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 0.7;
}

footer .bottom-details {
  width: 100%;
  background: rgba(98, 169, 202, 0.651);
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

/* Testimonials Section */
#testimonials {
  background-color: #f7f7f7;
  padding: 60px 0;
}

#testimonials h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

#testimonials p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  text-align: center;
  max-width: 300px;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 20px;
}

.testimonial h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Media Query for Testimonials on Smaller Screens */
@media screen and (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
  }

  .testimonial {
    margin: 0 0 30px;
  }
}

/* About Us Section */
#about {
  background-color: #fff;
  padding: 60px 0;
}

#about h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

#about p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-item {
  text-align: center;
  max-width: 300px;
  padding: 20px;
}

.about-item img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-item p {
  font-size: 16px;
}

/* Media Query for About Us on Smaller Screens */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-item {
    margin-bottom: 30px;
  }
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the landing page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}


.landing-page {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

.pro-showcase {
  margin-top: 40px;
}

.pro-showcase h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

pro-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pro {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pro img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pro h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pro p {
  font-size: 18px;
  color: #007BFF;
}

.testimonials {
  margin-top: 40px;
}

.testimonials h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.testimonial img {
  border-radius: 50%;
  max-width: 100px;
  height: auto;
  margin: 0 auto 10px;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 10px;
}

.testimonial span {
  font-weight: bold;
}

.subscription {
  margin-top: 40px;
}

.subscription h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.subscription p {
  font-size: 18px;
  margin-bottom: 20px;
}

form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
}

/* Add this CSS to your style.css file */

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  25% {
    opacity: 0.25;
    transform: translateY(15px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }

  75% {
    opacity: 0.75;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animations to specific elements */
.pro-container .pro,
.testimonial,
.subscription {
  animation: fadeIn 0.2s ease-in;
  opacity: 0;
  /* Start with opacity at 0 */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
}

/* Delay animations for staggered effect */
.pro-container .pro:nth-child(odd) {
  animation-delay: 0.2s;
  /* Delay by 0.2 seconds for odd items */
}

.pro-container .pro:nth-child(even) {
  animation-delay: 0.2s;
  /* Delay by 0.4 seconds for even items */
}

.testimonial:nth-child(odd) {
  animation-delay: 0.2s;
  /* Delay by 0.2 seconds for odd testimonials */
}

.testimonial:nth-child(even) {
  animation-delay: 0.2s;
  /* Delay by 0.4 seconds for even testimonials */
}

.subscription {
  animation-delay: 0.6s;
  /* Delay by 0.6 seconds for the subscription form */
}
/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Style the dropdown button/link */
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0);
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}