*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 29px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
/* Header */
.logo{
    width: 4rem;
    height: 3rem;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:azure;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(22, 21, 21);
    transition: 0.3s ease-in;
}
#navbar li a:hover,#navbar li a.active{
    color:cadetblue;
}
#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: cadetblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#top{
    background-image: url("img/hero.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#top h4{
    padding-bottom: 15px;
}
#top h1{
    color: darkgreen;
}
#top button{
   background-image: url("img/button.webp");
   background-color: transparent;
   color:burlywood;
   border: 0;
   padding: 14px 80px 14px 65px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
    border: 3px solid rgb(70, 77, 73);
    border-radius: 4px;
    margin:15px 0;
}
#feature .fe-box img{
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 223, 0.1);
}
#feature .fe-box h5{
    display: inline-block;
    padding: 12px 6px 6px 6px;
    line-height: 1;
    border-radius: 4px;
    color: cadetblue;
    background-color: blanchedalmond;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 3px solid  rgb(70, 77, 73);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    transition: all 300ms ease-in;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
#product1 .pro img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 12px 0;
}
#product1 .pro .des span{
    color: #465b52;
}
#product1 .pro .des h5{
    padding-top: 6px;
    color: darkslategray;
    font-size: 14px;
}
#product1 .pro .des .star span{
    font-size: 14px;
    color:gold;
}
#product1 .pro .des h4{
    padding-top: 6px;
    font-size: 15px;
    font-weight: 700;
    color:darkolivegreen;
}
#product1 .pro #cart{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    background-color: rgb(153, 206, 153);
    color: green;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.about{
    text-align: center;
    color: green;
    margin: 25px;
    border: 2px solid grey;
    width:98%;
    height: 100%;
}
.cont{
    text-align: center;
    display:block;
    align-items: center;
    justify-content: space-between;
}
.cont form input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cont form textarea{
    margin-top: 5px;
    margin-bottom: 10px;
}
.cont div{
    align-content: center;
    border: 1px solid darkgreen;
    width: 30%;
    height: 600px;
    float: left;
    text-align: center;
    justify-content: space-between;
    margin-top: 50px;
    margin: 20px;
}

